{{ if (eq .chezmoi.os "linux") -}}
#!/bin/bash

set -eufo pipefail

repositories=()
packages=(
	curl
	wget
	build-essential
	git
	ripgrep
	jq
	zsh
	python3
	python3-pip
)

pythonpkgs=(
	virtualenvwrapper
)

# install apt packages:
for repository in ${repositories[@]}; do
	sudo add-apt-repository -y $repository
done
sudo apt update
sudo apt install -y ${packages[@]}

# install python packages:
pip3 install ${pythonpkgs[@]}

{{ if (eq .chezmoi.osRelease.id "debian" "ubuntu") -}}
# poetry needs to be installed after virtualenvwrapper!
# install poetry using python3 (fails with python i.e. python2)
curl -sSL https://raw.githubusercontent.com/python-poetry/poetry/master/install-poetry.py | python3 -

{{ end -}}

# do some special installs
# after the above so wget is valid
####################      install bat
# install latests from github - periodically check the version number
batversion="0.18.2"
{{ if (eq .chezmoi.osRelease.id "debian" "ubuntu") -}}
batfile=bat_${batversion}_amd64.deb
{{ end -}}

{{ if (eq .chezmoi.osRelease.id "raspbian") -}}
batfile=bat_${batversion}_armhf.deb
{{ end -}}

trap "rm -rf ${batfile}" EXIT
wget https://github.com/sharkdp/bat/releases/download/v${batversion}/${batfile}
sudo apt install ./${batfile}



{{ end -}}
